<div class="conversation-container">
  <div class="card">
    <div class="card-header">
      <img [src]="settings.logo">
    </div>
    <div class="card-body" id="chat-content" #chat [scrollTop]="chat.scrollHeight">
      <ngx-loading [show]="spinner"></ngx-loading>
      <div class="alert alert-info text-center">
        <h1>{{ settings.welcomeMessage }}</h1>
      </div>
      <ul class="list-group">
        <li *ngFor="let activity of activities" class="list-group-item"
            [ngClass]="{'list-group-item-primary': activity.from.id === settings.bot.id,
            'list-group-item-success': activity.from.id !== settings.bot.id}">
          <app-activity [activity]="activity"></app-activity>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <input [(ngModel)]="newMessage" (keyup.enter)="postMessage()" type="text" class="form-control"
               placeholder="" aria-label="" aria-describedby="">
        <div class="input-group-append">

          <button class="btn btn-primary" (click)="postMessage()" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>




